-if params["action"] == "edit"
	.form-group
		= f.text_field :title, class:"form-control", placeholder: "Title"
.form-group
	= f.text_field :long_url,class:"form-control", placeholder: "Place a link to shorten it", disabled: (params["action"] == "edit" ? true : false), required: true
