.col-md-6.col-md-offset-3
	.panel.panel-default
		.panel-heading
			h1 Short your link here
		.panel-body
			= form_for [:dashboard, @url] do |f|
				=render "form",f: f
				.form-group	
					= f.submit "Update link", class: "btn btn-primary"