-unless @urls.blank?
	.col-md-6
		.panel.panel-default
			.panel-body
				-@urls.each do |url|
					li 
						-if url.title.present?
							h4= url.title 
						=link_to "#{welcome_url(url)}", welcome_path(url), target: "_blank"
						p
							small =truncate url.long_url, length: 150
							=link_to "<i class='fa fa-edit'></i>".html_safe, edit_dashboard_url_path(url), class:"btn btn-warning", title: "Edit"
							|&nbsp;
							=link_to "show", dashboard_url_path(url), class:"btn btn-success"
							|&nbsp;
							=link_to "<i class='fa fa-trash'></i>".html_safe, dashboard_url_path(url), class:"btn btn-danger", data: {confirm: "Are you sure", toggle: "tooltip"}, title: "Remove", method: :delete
			

.col-md-6 class=(@urls.blank? ? "col-md-offset-3" : "")
	.panel.panel-default
		.panel-heading
			h1 Short your link here
		.panel-body
			= form_for [:dashboard, @url] do |f|
				=render "form",f: f
				.form-group	
					= f.submit "Short link", class: "btn btn-primary"