.col-md-12
	.panel.panel-default
		.panel-heading
			h3 =@url.title
		.panel-body
			table.table.table-striped.table-bordered				
				tr
					td User
					td =@url.user.email
				tr
					td Title
					td =@url.title
				tr
					td Actual link
					td =link_to "#{@url.long_url}", @url.long_url	, target: "_blank"
				tr
					td Craigly	
					td =link_to "#{welcome_url(@url)}", welcome_url(@url)	, target: "_blank"
				tr
					td Created
					td =@url.created_at.strftime("%d-%m-%Y")

