<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Forgot your password?</h2>
		</div>
		
		<div class="panel-body">

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control"%>
			  </div>

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>		