nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="/"  Craig
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          li
            a href=dashboard_urls_path Urls
          li
            a data-method="delete" href=destroy_user_session_path Sign out
  
        -else
          li
            a href=new_user_session_path  Login
          li
            a href=new_user_registration_path  Signup
          