.row
	.col-md-6.col-md-offset-3
		.panel.panel-default
			.panel-heading
				h1 Short your link
			.panel-body
				= form_for @url, url: welcome_index_path do |f|
					= f.hidden_field :session_id, value: session.id
					.form-group
						= f.text_field :long_url,class:"form-control", placeholder: "Place a link to shorten it", required: true
					.form-group	
						= f.submit "Short link", class:"btn btn-primary"

				-if urls_from_session.any?	
					ul
						-urls_from_session.each do |url|
							li 
								=link_to "#{welcome_url(url)}", welcome_path(url), target: "_blank"
								p
									small =truncate url.long_url, length: 150
						