<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Log in</h2>
		</div>
		
		<div class="panel-body">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control"%>
			  </div>

			  <div class="field">
			    <%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %>
			    </div>
			  <% end -%>

			  <div class="actions">
			    <%= f.submit "Log in" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>		